:root {
  --background-color: #60b9ce;
  --foreground-color: #015367;
  --text-color: #ffc540;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--foreground-color);
}

header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--background-color);
  /*width: 100% !important;*/
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: var(--text-color);
  background: var(--foreground-color);
  padding: 10px 15px;
}

header a {
  text-decoration: none;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  margin: 0 5px;
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  color: var(--text-color);
  background: var(--foreground-color);
}

/*header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}
*/

.about-me {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 17%;
  padding: 10px;
  background-color: var(--text-color);
}

.bio-text {
  width: 35%;
  flex: 45%;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 5px solid black;
  font-size:x-large;
}
.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  
}

.pro1 {
  padding: 15px 15px 15px 10px;
}
.project-grid {
  margin-right: 0;
  width: 47%;
  display: flex;
  flex-wrap: wrap;
}

.project-grid div {
  flex: 45%;
  margin-top: -5px;
  padding-top: 20px;
}

.responsive1 {
  width: 640px;
  height: 580px;
}

footer {
  background-color: var(--text-color);
  text-align: center;
  padding: 25px 0;
}

.contact-me {
  margin: 0 25%;
}

.contact-me ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  justify-content: space-around;
  
}

footer ul li {
  padding: 0 25px;
  font-size: large;
}

@media screen and (max-width: 1500px) {
  .responsive {
    width: 340px;
  }
  .responsive1 {
    width: 540px;
    height: 450px;
  }
}

@media screen and (max-width: 980px) {
  body {
    width: 100%;
  }
  header {
    padding-bottom: 10px;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
    background-color: pink;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    background-color: red;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2,
  footer div {
    text-align: center;
    width: 100%;
  }

  .about-me {
    display: block;
    text-align: center;
  }

  .bio-text {
    border: none;
    width: 50%;
    margin: 0 25%;
    font-size: 30px;
  }

  .projects {
    align-items: center;
  }

  .project-grid {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 575px) {
  .bio-pic {
    height: 120px;
    width: 120px;
  }

  header {
    margin: 0;
    
  }

}