:root {
  --background-color: #60b9ce;
  --foreground-color: #015367;
  --text-color: #ffc540;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--foreground-color);
}

header {
  padding-top: 20px;
  background-color: var(--background-color);
  text-align: center;
}

.nav-item {
  border-radius: 5px;
  margin: 0 60px;
  
}

a:visited {
  color: black;
}

.container {
  padding-left: 0;
}

footer {
  color: white;
}