:root {
  --background-color: #60b9ce;
  --foreground-color: #015367;
  --text-color: #ffc540;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
  background-color: var(--background-color);
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: var(--text-color);
  background: var(--foreground-color);
  padding: 10px 15px;
}

header a {
  text-decoration: none;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  margin: 0 5px;
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  color: var(--text-color);
  background: var(--foreground-color);
}

/*header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}
*/
.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: blue;
}

.pro1 {
  padding: 15px 15px 15px 10px;
}
.project-grid {
  margin-right: 0;
  width: 47%;
  display: flex;
  flex-wrap: wrap;
}

.project-grid div {
  flex: 45%;
  margin-top: -5px;
  padding-top: 20px;
}

@media screen and (max-width: 1500px) {
  .responsive {
    width: 340px;
  }
  .responsive1 {
    width: 540px;
    height: 450px;
  }
}
